
{% extends 'accounts/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% block title %} ChatRoom {% endblock %}
{% block form %}
  <form class="form-inline" autocomplete="off" id="create-form" method="GET">
    <div class="form-group">
      <label>Create Chat Room: </label>
      {{form_create.chatroom_name}}
      <input type="submit" class='btn btn-success' value="Create">
      <input type="hidden" name="create_chatroom" value="">
    </div>
  </form>

  <form autocomplete="off" class="form-inline" id="search-form">
      <div class="form-group">
        <label class="label-search">Search: </label>
        <div class="input-autocomplete">
          {{form_search.chatroom_name}}
          <div id="autocomplete"></div>
        </div>
      </div>
        <input type="submit" class="btn btn-primary" id="button-search" value="Open">
  </form>
{% endblock %}
{% block style %}
  <style>
    .input-autocomplete{
      display:inline-block;
    }
    #create{
      border-radius:5px;
      border:1px solid crimson;
    }
    #autocomplete{
      color:yellow;
      border-radius:10px;
      background:#202a3a;
      border:1px solid grey;
    }
    #search-query:focus + #autocomplete{
      top:0;
      border-radius:10px;
      width:200.4px;
    }
    #inner-box{
      display:inline-block;
      border: 16px solid yellow;
    }
    #search-box{
      padding:16px;
      border:16px;
      text-size-adjust:100%;
    }
    .label-search{
      float:left;
      top:10px;
      position:relative;
      display: inline-block;
    }
    .search-search-query{
      display: inline-block;
    }
    #search-query{
      border:1px solid crimson;
      position:relative;
    }

    #button-search{
      top:2px;
      float:right;
      position:relative;
      display: inline-block;
    }
    #search-form{
      display: inline-block;
      position:relative;
      padding:16px;
      margin:16px;
    }
    #query{
      padding:5px;
      border-radius:10px;
      border-bottom:2px solid grey;
    }
    #query:hover{
      padding:8px;
      background:#0761f2;
    }
  </style>
{% endblock %}


{% block script %}
    <script type="text/javascript">
      document.getElementById('create').focus()
      function connecting_ws(){

        let search_input = document.getElementById('search-query');
        let autocomplete = document.getElementById('autocomplete');

        let searchsocket = new WebSocket(
          'ws://' + window.location.host + '/ws/chat/'
        );
        searchsocket.onopen = function(e){
        };
        searchsocket.onclose = function(e) {
          connecting_ws();
        };
        searchsocket.onmessage = function(e){
          var rooms=JSON.parse(e.data)["rooms"];
          for(var i=0;i<rooms.length;i++){
            b =document.createElement("DIV");
            b.innerHTML = rooms[i];
            b.innerHTML += "<input type='hidden' value=" + rooms[i] + ">";
            b.setAttribute("id","query");
            b.addEventListener("click",function(e){
              search_input.value = this.getElementsByTagName("input")[0].value;
              autocomplete.innerHTML="";
            });
            autocomplete.appendChild(b);
          };
        }


        search_input.onkeyup = function(e){
          if ((64<e.keyCode && e.keyCode<91) || e.keyCode==8){
            var query = search_input.value;
            searchsocket.send(query);
            autocomplete.innerHTML = "";
            }
          };
        }
      connecting_ws()
    </script>
{% endblock %}
