body{
  background-color: orange !important;
}
/* #search-form{
  margin:2.5%;
  padding:2.5%;
} */

#create-form{
  margin-top:20% !important;
  margin: 2.5%;
  padding: 2.5%;
  background-color: yellow;
}

#text-message{
  margin : 2.5%;
  padding : 2.5%;
  width : 1000px !important;
}

#chat-log{
  background-color: white;
}
